.frame {
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, auto));
  grid-template-rows: repeat(3, minmax(0, auto));
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";

  .one:hover {
    animation: zoomInTopLeft 0.1s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .textContainer {
      display: flex;
    }
  }

  .two:hover {
    animation: zoomInTop 0.1s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .textContainer {
      display: flex;
    }
  }

  .three:hover {
    animation: zoomInTopRight 0.1s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .textContainer {
      display: flex;
    }
  }

  .four:hover {
    animation: zoomInLeft 0.1s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .textContainer {
      display: flex;
    }
  }

  .five:hover {
    animation: zoomIn 0.1s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .textContainer {
      display: flex;
    }
  }
  .six:hover {
    animation: zoomInRight 0.1s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .textContainer {
      display: flex !important;
    }
  }

  .seven:hover {
    animation: zoomInBottomLeft 0.1s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .textContainer {
      display: flex !important;
    }
  }

  .eight:hover {
    animation: zoomInBottom 0.1s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .textContainer {
      display: flex !important;
    }
  }

  .nine:hover {
    animation: zoomInBottomRight 0.1s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    .textContainer {
      display: flex !important;
    }
  }

  .zone {
    border: 1px solid black;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.textContainer {
  height: 30%;
  width: 50%;
  top: 70%;
  left: 50%;
  position: absolute;
  display: none;
}

@keyframes zoomInBottomLeft {
  to {
    transform: scale(1.2);
    transform-origin: bottom left;
  }
}

@keyframes zoomInBottomRight {
  to {
    transform: scale(1.2);
    transform-origin: bottom right;
  }
}

@keyframes zoomInTopLeft {
  to {
    transform: scale(1.2);
    transform-origin: top left;
  }
}

@keyframes zoomInTopRight {
  to {
    transform: scale(1.2);
    transform-origin: top right;
  }
}

@keyframes zoomInLeft {
  to {
    transform: scale(1.2);
    transform-origin: left;
  }
}

@keyframes zoomInRight {
  to {
    transform: scale(1.2);
    transform-origin: right;
  }
}

@keyframes zoomInBottom {
  to {
    transform: scale(1.2);
    transform-origin: bottom;
  }
}

@keyframes zoomInTop {
  to {
    transform: scale(1.2);
    transform-origin: top;
  }
}

@keyframes zoomIn {
  to {
    transform: scale(1.2);
  }
}
