<div class="projectCard">
  <div class="leftSide">
    <div class="projectInfo">
      <h2>{{ project.name }}</h2>
      <div class="description">
        <p *ngFor="let desc of project.description">{{ desc }}</p>
      </div>
    </div>
    <div class="footer">
      <div class="chips">
        <mat-chip *ngFor="let tag of project.categories" class="chip">{{
          tag
        }}</mat-chip>
      </div>
    </div>
  </div>
  <div class="rightSide">
    <div class="fade"></div>
    <img [src]="project.imageUrl" alt="project image" class="projectImage" />
  </div>
</div>
