.frame {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #686D76;
  backdrop-filter: blur(2px);
  width: 70%;
  height: 50%;
  display: grid;
  border: #DC5F00 solid 5px;
  padding: 1%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.imageGrid { grid-area: 1 / 1 / 3 / 3; }
.linksGrid { grid-area: 3 / 1 / 4 / 3; }
.textGrid { grid-area: 1 / 3 / 4 / 6; } 

.center {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.image {
  object-fit:cover;
  border-radius: 10%;
}



