<div class="frame">
    <div class="zone innerZone" [style]="this.getStyle('inner')">
        <button mat-flat-button (click)="this.growInner()" *ngIf="this.inner < this.MAX_WIDTH"
            [style]="this.buttonStyle">
            <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-flat-button (click)="this.shrinkInner()" *ngIf="this.inner >= this.MAX_WIDTH"
            [style]="this.buttonStyle">
            <mat-icon>chevron_left</mat-icon>
        </button>
    </div>
    <div class="zone" [style]="this.getStyle('outer')">
        <button mat-flat-button (click)="this.growOuter()"
            *ngIf="this.outer < this.MAX_WIDTH && this.inner < this.MAX_WIDTH" [style]="this.buttonStyle">
            <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-flat-button (click)="this.shrinkOuter()"
            *ngIf="this.outer >= this.MAX_WIDTH || this.inner >= this.MAX_WIDTH" [style]="this.buttonStyle">
            <mat-icon>chevron_left</mat-icon>
        </button>
    </div>
    <app-intro class="intro"></app-intro>
</div>